* {
  box-sizing: border-box;
}
.overallColor > div {
  background-color: unset;
}
.overallColor {
  display: none !important;
}
.melodyColor > div {
  background-color: #F4516C;
}
.chordsColor > div {
  background-color: #4DB6AC;
}
.structureColor > div {
  background-color: #4FC3F7;
}
.familarityColor > div {
  background-color: #FFB74D;
}
.text-bold {
  font-weight: 700 !important;
}
.overallStructure > div {
  height: 140px;
  padding-top: 1.5rem;
}
.cancel-btn {
  background-color: #252525 !important;
  border-color: #252525 !important;
  margin-right: 12px !important;
}
.cancel-btn:hover {
  background-color: rgba(37, 37, 37, .8) !important;
}
.tagify {
  background-color: #0E0E13;
  border: 1px solid #111111 !important;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  --tag-bg: rgba(33, 150, 243, 0.29) !important;
  --tag-text-color: #2196F3 !important;
  --tags-border-color: #2196F3 !important;
  --tag-text-color--edit: #fff !important;
}
.songTagGroup button:nth-child(4n+0) {
  color: #2196F3;
  border-color: #2196F3;
  background-color: rgba(33, 150, 243, 0.29);
  border-radius: 12px;
}
.songTagGroup button:nth-child(4n+1) {
  color: #34BFA3;
  border-color: #34BFA3;
  background-color: rgba(52, 191, 163, 0.29);
  border-radius: 12px;
}
.songTagGroup button:nth-child(4n+2) {
  color: #C31162;
  border-color: #C31162;
  background-color: rgba(195, 17, 98, 0.29);
  border-radius: 12px;
}
.songTagGroup button:nth-child(4n+3) {
  color: #F4516C;
  border-color: #F4516C;
  background-color: rgba(244, 81, 108, 0.29);
  border-radius: 12px;
}
.dashboard-wrap {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: black;
}
.dashboard-container {
  display: flex;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.upload-wrap {
  padding: 20px 0;
  background-color: black;
}
.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: calc(100vh - 50px);
  margin: 20px 0;
  padding: 0 16px;
}
.dropzone-container,
.upload-input-group {
  max-width: 700px;
  width: 100%;
  margin: auto;
}
/* Auth Page */
.genre-select-btn {
  color: #2196F3 !important;
  background-color: rgba(33, 150, 243, 0.29) !important;
  border-color: #2196F3 !important;
  border-radius: 4px !important;
  margin-right: 14px !important;
  font-weight: 400 !important;
}
.genre-select-btn.selected {
  background-color: #2196F3 !important; 
  color: #fff !important;
}
.auth-banner-bg {
  background-image: url('./assets/img/auth_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}
.auth-logo-container {
  background-image: url('./assets/img/logo_container.png');
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.auth-content-wrap {
  background-color: black;
}
/* End Auth Page */


/* Profile Page */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}
.profile-wrap {
  background-color: black;
  width: 100%;
}
/* End Profile Page */
@media(max-width: 1100px) {
  .dashboard-container {
    display: block;
    height: unset;
    margin-top: 0;
    margin-bottom: 0;
    align-items: unset;
  }
}
@media(min-width: 1400px) {
  .upload-wrap {
    padding: 0;
  }
  .upload-container {
    margin: 0;
    padding: 0;
  } 
}
@media(min-width: 1600px) {
  .dashboard-container {
    margin: 0;
  }
  .dashboard-wrap {
    padding: 0;
  }
  .dashboard-content {
    width: 80%;
  }
  .dropzone-container,
  .upload-input-group {
    width: 60%;
    margin: auto;
    max-width: unset;
  }
}